#features{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background: #162542;
    padding: 10rem 15rem;
    margin: 5rem;
    border-radius: 2rem;
    background-image: url('./bg-1.webp');
    background-size: 100% 100% ;
    background-position: center;
    background-repeat: no-repeat;
    @media( max-width: 1100px ){
        padding: 10rem 5vw;
    }
    @media( max-width: 950px ){
        background-size: 100% 110% ;
    }
    @media( max-width: 750px ){
        margin: 5rem 2rem;
    }

    h3{ padding: .5rem 3rem; border-left: 3px solid #D2A76B; border-right: 3px solid #D2A76B; background-color: rgba(255, 255, 255, 0.15); color: #D2A76B;}
    h1{ padding: 1.5rem 0 3.5rem 0; }
    .features-list{
        align-self: stretch;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(31.4rem, 1fr));
        justify-items: center;
        gap: 3rem;
        @media( max-width: 950px ){
            grid-template-columns: repeat(auto-fit, minmax(1fr , 1fr));
        }
        @media( max-width: 750px ){
            grid-template-columns: repeat(auto-fit, minmax(20rem , 1fr));
        }
        .list3-items{
            padding: 2rem;
            float: right;
            text-align: right;
            border: 1px dashed #D2A76B;
            border-radius: 2rem;
            h3{ padding: 1rem 0 2rem 0; border: 0; background-color: transparent; }
            p{ padding-top: 1.8rem; line-height: 2.5rem;}
            .underline{ height: .3rem; width: 4rem; float: right; margin: 0px; background: white;}
        }
    }
}