html { font-size: 62.5%;
       font-family: 'Almarai', sans-seri; } 


@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
@import './about-us';
@import './features';
@import './contact-us';
@import './customers';
@import './footer';

body { font-size: 1.13rem; font-weight: normal;  }
h3,button,li { font-size: 1.5rem; font-weight: bold; }
h2 { font-size: 1rem; font-weight: normal;  }
h1 { font-size: 2.50rem; font-weight: bolder;  } 
p,span { font-size: 1.13rem; font-weight: normal; } 

*{
    margin: 0px;
    padding: 0px;
    position: relative;
    background-repeat: no-repeat;
}
ul,li{
    padding: 0;
    margin: 0;
    list-style: none;
}
button{
    background-color: transparent;
    border: 0px;
}
a{
    text-decoration: none;
}


#header{
    margin-bottom: 5rem;
    background-color: #162542;
    color: white;
    .contact-info{
        padding: 1rem 21.5rem;
        background-color: #0E1D3A;
        display: flex;
        align-items: center;
        .list1-items:first-child{
            flex-grow: 1;
        }
        .list1-items{
            display: flex;
            align-items: center;
            img{
                padding: 0px 1rem;
            }
        }
        @media( max-width: 1550px ){
            padding: 1rem 13.4vw;
        }
        @media( max-width: 950px ){
            padding: 1rem 5vw;
        }
        @media( max-width: 750px ){
            display: none;
        }
    }
    .bg{
        background-image: url('./bg-00.png');
        background-position-x: right;
        background-position-y: bottom;
        display: flex;
        align-items: center;
        padding: 1rem 21.5rem;
        padding-bottom: 65rem;
        @media( max-width: 1550px ){
            padding: 1rem 13.4vw;
            padding-bottom: 40.6vw;
        }
        @media( max-width: 1100px ){
            flex-wrap: wrap-reverse;
            justify-content: flex-end;
        }
        @media( max-width: 950px ){
            padding: 1rem 5vw;
            padding-bottom: 40.6vw;
        }
        @media( max-width: 750px ){
            padding-bottom: 45rem;
            background-position-x: left;
        }
        .image{
            position: absolute;
            top: 17rem;
            left: 0px;
            z-index: 1;
            @media( max-width: 1550px ){
                max-width: 44.7vw;
            }
            @media( max-width: 750px ){
                display: none;
            }
        }
        .search{
            padding: 1.8rem ;
            border: 1px solid #474747;
            @media( max-width: 700px ){
                position: absolute;
                left: 15px;
                top: 15px;
            }

        }
        .menu{
            padding: 1rem 0rem;
            flex-grow: 1;
            display: flex;
            .list2-items{
                padding: 1rem 1.8rem;
                &:before{ content: url('./Ellipse\ 966.svg'); padding-right: 1.8rem; }
                a { color: white; &:hover{ color: #D2A76B; } scroll-behavior: smooth;}
            }
            @media( max-width: 1200px ){
                flex-wrap: wrap;
                overflow-wrap: none;
            }
            @media( max-width: 750px ){
                flex-wrap: wrap-reverse;
                overflow-wrap: none;
                @media(max-width: 370px){
                .list2-items:last-child{
                    &:before{content: ''; padding: 0;}
                    border-radius: 50px;
                    position: fixed;
                    z-index: 10;
                    top: 550px;
                    opacity: 50%;
                    a{font-size: 0px; background-image: url('./ic_baseline-keyboard-double-arrow-up\ \(1\).svg'); padding: 50px; }
                    padding-left: 0px;
                    padding-top: 0px;
                    &:hover{opacity: 100%;}
                }
                }
            }
        }
        }
    .content{
        position: absolute;
        top: 29rem;
        right: 35rem;
        text-align: end;
        @media( max-width: 1550px ){
            right: 20vw;
            top: 18.12vw;
        }
        @media( max-width: 1200px ){
            right: 13.4vw; 
            h1{ font-size: 2rem;}
        }
        @media( max-width: 950px ){
            right: 5vw;
        }

        h3{ color: #D2A76B; border-right: 5px solid #D2A76B; padding: 0.5rem 1.5rem;}
        h1{ max-width: 41.2rem; padding: 2.1rem 0px; line-height: 6rem;}
        .video{
            padding: 2.1rem 0px;
            display: flex;
            align-items: center;
            justify-content: end;
            .play{ display: flex; align-items: center; color: white; img{ padding: 2.1rem 1.5rem; } }
            .more{ padding: 1.3rem 2.9rem; margin: 2.1rem 0px 2.1rem 1.5rem; color: white; border-radius: 5rem; background-color: #D2A76B;}
        }
        .underline{
            right: 0;
            position: absolute;
            width: 325px;
            height: 3px;
            background: linear-gradient(90deg, #3F4B62 -19.08%, #3F4B62 65.93%, rgba(121, 105, 88, 0) 66.2%, rgba(153, 128, 95, 0) 69.95%, #D2A76B 70.06%, #D2A76B 100%);
        }
        @media( max-width: 750px ){
            right: 10vw;
            top: 25rem;
            .underline{
                background: linear-gradient(90deg,rgba(153, 128, 95, 0) 69.95%, #D2A76B 70.06%);
            }
        }
    }
    .empty{
        background-image: url('./bg-0.png');
        opacity: 3%;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }
}
.logo{
    padding: 1rem 0rem 1rem 3.6rem;
    display: flex;
    align-items: center;
    text-align: end;
    .slogan{
        padding: 0px 1rem;
        h3{ padding: 0rem 0rem 1rem 1.5rem ; border-bottom: 1px solid #474747; }
        h2{ padding: 1rem 0rem 1rem 1.5rem ; color:#D2A76B ; }
    }
}










